<google-map
  [center]="center"
  [zoom]="zoom"
  height="700px"
  width="100%">

  <!-- Marcador del origen -->
  <map-marker *ngIf="origen" [position]="origen" label="O" title="Origen"></map-marker>

  <!-- Marcador del destino -->
  <map-marker *ngIf="destino" [position]="destino" label="D" title="Destino"></map-marker>

  <!-- Polilínea entre origen y destino -->
  <map-polyline *ngIf="path.length === 2" [path]="path" [options]="polylineOptions"></map-polyline>

</google-map>
